/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
    width: 50%;
    margin: auto;
    box-shadow: 10px 10px 5px grey;
}

.search-div {
    position: absolute;
    right: 10px;
}

hr {
    width: 10px;
}

.date-div {
    margin-bottom: 25px;
}

.image-temp {
    margin-bottom: 50px;
}

.cool-image {
    margin-top: -70px;
    width: 30em;
}